$c-white: #fff;
$c-black: #000;


$c-grey-6: #f4f5fb;
$c-grey-4: #cbd5e1;
$c-grey-2: #334155;

$c-primary: #00b19c;
$c-primary-hover: #00535e;

$c-text: $c-grey-2;
$c-border: $c-grey-4;
$c-outline: $c-primary;
