$c-white: var(--c-white);
$c-black: var(--c-black);

$c-grey-6: var(--c-grey-6);
$c-grey-4: var(--c-grey-4);
$c-grey-2: var(--c-grey-2);

$c-primary: var(--c-primary);
$c-primary-hover: var(--c-primary-hover);

$c-text: var(--c-text);
$c-text-light: var(--c-text-light);
$c-border: $c-grey-4;
$c-outline: $c-primary;
